@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

* {
    color: #FFFCFD;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body {
    background-color: #EBCEDB;
    margin: 0;
}

header {
    background-color: #D190AA;
    text-align: center;
    padding: 4vh;
}

header > h1 {
    font-size: 3.3rem;
}

header > h2 {
    font-size: 1.8rem;
    margin: 4vh 0vw 4vh 0vw;
}

.nav-button {
    font-size: 1.3rem;
    margin: 0vh 1vw 0vh 1vw;
    transition: 0.2s;
}

.nav-button:hover {
    color: #5E4A53;
}

section {
    background-color: #998E93;
    border-left: 0.6vh #FFFCFD solid;
    margin: 12vh 20vw 12vh 20vw;
}

section > h3 {
    background-color: #5E4A53;
    font-size: 2.2rem;
    padding: 2vh;
}

section > p {
    font-size: 1.4rem;
    padding: 2vh;
    padding-bottom: 4vh;
}

img {
    border-radius: 1.2vh;
    width: 20vw;
    margin: -3vh 0vw -3vh 40vw;
}

footer {
    background-color: #D190AA;
    text-align: center;
    padding: 1vh;
    margin-top: 9vh;
}

footer > h5 {
    font-size: 1.8rem;
}

footer > a {
    font-size: 1.4rem;
}

footer > p {
    font-size: 2.2rem;
    margin-top: 6vh;
}