@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --jet-black: #363636C9;
    --blue-sapphire: #175676;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
}

.img {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.8)), url('https://www.wallpaperflare.com/static/782/524/897/sunset-manhattan-williamsburg-panoramic-photography-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img-txt {
    color: #000;
}

.img-txt > h1 {
    color: var(--blue-sapphire);
    font-size: 4.6em;
}

.img-txt > h2 {
    font-size: 2.4em;
}

header {
    background-color: whitesmoke;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    box-shadow: rgba(100, 100, 100, 0.3) 0px 4px 10px 0px;
    padding: 1vh;
}

header > p {
    color: #000;
    font-weight: 900;
    margin-right: auto;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

a {
    color: var(--jet-black);
    font-weight: 700;
    text-decoration: none;
    margin-right: 0.8vw;
}

.s {
    margin: 2vh 6vw 2vh 6vw;
}

.s > h1 {
    font-size: 2.4em;
    font-weight: bolder;
}

.s > p {
    font-size: 1.2em;
    font-weight: 520;
}

.s > img {
    width: 30%;
    margin-left: 35%;
}

footer {
    text-align: center;
    font-size: 1.1em;
    font-weight: bolder;
    margin-top: 8vh;
    margin-bottom: 4vh;
}